<app-navbar></app-navbar>
<main>
    <div class="cards"  >
        <div class="top-container">
           
            
                <mat-form-field appearance="standard">
                
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="onSearch($event)" placeholder="ex: Marilola Dolores Afonso" #input style="border-color: aqua;">
          
                  </mat-form-field>
            
            
                <button routerLink="/list/new-employee"mat-raised-button color="primary">
                    Add Employee
                  </button>
                  
            
        </div><br>
        
          <div class="card" *ngFor="let g of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]">
              <mat-card class="example-card">
                  
                 
                  <mat-card-header>
                    
                    <div class="avatar" mat-card-avatar [ngStyle]="{'background-image': 'url(assets/images/female.png)','background-position': 'center','background-size': '100% 100%'}">
                    </div>

                  </mat-card-header>
                    <label class="label" for=""><b>Id:</b></label>
                    <label for="">1</label><br>
                    <label class="label" for=""><b>First Name:</b></label>
                    <label for="">Rosa María Violeta</label><br>
                    <label class="label" for=""><b>Last Name:</b></label>
                    <label for="">Bautista  Harris</label><br>
                    <label class="label" for=""><b>Email:</b></label>
                    <label for="">violetaguapita@gmail.com</label><br>
                    <label class="label" for=""><b>Gender:</b></label>
                    <label for="">Female</label><br>
                   
                    
                  <div class="btn-container">
                    <button mat-fab id="delete-bt" aria-label="Example icon button with a delete icon">
                        <mat-icon (click)="openDeleteDialog()" >delete</mat-icon>
                      </button>
                      <button routerLink="/list/edit-employee" mat-fab id="edit-bt" aria-label="Example icon button with a delete icon">
                        <mat-icon>edit</mat-icon>
                      </button>
                  </div>
                  
                </mat-card>
  
          </div>
          
      </div>
      





</main>