<app-navbar></app-navbar>
<main>
    <div class="cards"  >
        <div class="top-container">
           
            
                <mat-form-field appearance="standard">
                
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="onSearch($event)" placeholder="by Name, Email, Id or Genre" #input style="border-color: aqua;">
          
                  </mat-form-field>
            
            
                <button routerLink="/list/new-employee"mat-raised-button color="primary">
                    Add Employee
                  </button>
                  
            
        </div><br>
          <div class="no-employees" *ngIf="employees.length < 1">
                <h1>Any employees to show</h1>
          </div>
          
          <div class="card" *ngFor="let e of employees" >
              <mat-card class="example-card">
                  <mat-card-header>
                    
                    <div class="avatar" mat-card-avatar [ngStyle]="{'background-image': 'url('+ e.avatar +')','background-position': 'center','background-size': '100% 100%'}">
                    </div>

                  </mat-card-header>
                    <label class="label" for=""><b>Id:</b></label>
                    <label for="">{{e.id}}</label><br>
                    <label class="label" for=""><b>First Name:</b></label>
                    <label for="">{{e.first_name}}</label><br>
                    <label class="label" for=""><b>Last Name:</b></label>
                    <label for="">{{e.last_name}}</label><br>
                    <label class="label" for=""><b>Email:</b></label>
                    <label for="">{{e.email}}</label><br>
                    <label class="label" for=""><b>Gender:</b></label>
                    <label for="">{{e.gender}}</label><br>
                    
                  <div class="btn-container">
                    <button (click)="openDeleteDialog(e.id)"  mat-fab id="delete-bt" aria-label="Example icon button with a delete icon">
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button [routerLink]="['/list/edit-employee/', e.id]" mat-fab id="edit-bt" aria-label="Example icon button with a delete icon">
                        <mat-icon>edit</mat-icon>
                      </button>
                  </div>
                  
                </mat-card>
  
          </div>
          
      </div>
      





</main>